body {
  background-color: var(--ghost-white);
}

.leaderboard {
  display: grid;
  justify-content: center;
  /* grid-gap: 5px; */
  list-style: none;
  padding-left: 0;
}

.leaderboard-container {
  display: grid;
  justify-content: center;
  /* grid-gap: 5px; */
  list-style: none;
  padding-left: 0;
}

.leaderboard-entry {
  display: grid;
  width: 575px;
  height: 100px;
  grid-template-columns: 100px 175px 100px 100px 100px;
  grid-template-areas: "avatar name answers questions total";
  /* border-bottom: 1px solid lightgrey; */
  /* border-radius: 10px; */
  align-items: center;
  font-size: 18px;
}

.leaderboard-headers {
  display: grid;
  width: 575px;
  height: 50px;
  grid-template-columns: 100px 175px 100px 100px 100px;
  grid-template-areas: "avatar name answers questions total";
  border-bottom: 2px solid black;
  align-items: center;
  font-size: 18px;
}

.leaderboard-header {
  font-weight: bold;
}

.leaderboard-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  padding: 5px;
}

.leaderboard-username {
  text-align: left;
  padding-left: 10px;
}

.total {
  font-size: 20px;
  color: var(--outrageous-orange);
}
