.nav {
  display: grid;
  grid-template-columns: 75% 25%;
  font-weight: bold;
  background-color: var(--black-coffee);
  color: var(--ghost-white);
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 10px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  padding-right: 10px;
}

.nav-left li {
  list-style-type: none;
  padding-right: 20px;
  text-decoration: none;
}

.nav-right li {
  list-style-type: none;
  padding-left: 20px;
  text-decoration: none;
}
